<h2>Vehicles</h2>
<div class="well">
  <div class="form-group">
    <label for="make">Make</label>
    <select id="make" class="form-control" [(ngModel)]="filter.makeId" (change)="onFilterChange()">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{m.id}}">{{m.name}}</option>
    </select>
  </div>
  <button class="btn btn-default" (click)="resetFilter()">Reset</button>
</div>

<table class="table">
    <tr>
      <th>ID</th>
      <th>Make</th>
      <th>Model</th>
      <th>Contact name</th>
      <th></th>
    </tr>
    <tr *ngFor="let v of vehicles">
      <td>{{v.id}}</td>
      <td>{{v.make.name}}</td>
      <td>{{v.model.name}}</td>
      <td>{{v.contact.name}}</td>
    </tr>
</table>
